<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypt</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body class="bg-light text-dark px-5 py-3">
    <nav class="navbar navbar-dark mb-3">
        <div class="">
            <h2 class="text-dark">                
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-shield-lock-fill" viewBox="0 0 16 16" style="margin-right: 20px;">
                <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.8 11.8 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7 7 0 0 0 1.048-.625 11.8 11.8 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.54 1.54 0 0 0-1.044-1.263 63 63 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5"/>
            </svg>crypt</h2>
        </div>
    </nav>
    <section class="container" style="max-width: 800px;"> 
        <div class="mb-3 row">
            <label for="jenisCipher" class="col-sm-2 col-form-label">Method</label>
            <div class="col-sm-10">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="jenisCipher" data-bs-toggle="dropdown" aria-expanded="false">Vigenere Cipher Standard</button>
                    <ul class="dropdown-menu" aria-labelledby="jenisCipher">
                      <li><a class="dropdown-item" href="#">Vigenere Cipher Standard</a></li>
                      <li><a class="dropdown-item" href="#">Auto-key Vigenere Cipher</a></li>
                      <li><a class="dropdown-item" href="#">Extended Vigenere Cipher</a></li>
                      <li><a class="dropdown-item" href="#">Playfair Cipher</a></li>
                      <li><a class="dropdown-item" href="#">Affine Cipher</a></li>
                      <li><a class="dropdown-item" href="#">Hill Cipher</a></li>
                      <li><a class="dropdown-item" href="#">Enigma Cipher</a></li>
                    </ul>
                  </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="jenisInput" class="col-sm-2 col-form-label">Input</label>
            <div class="col-sm-10">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="jenisInput" data-bs-toggle="dropdown" aria-expanded="false">Teks</button>
                    <ul class="dropdown-menu" aria-labelledby="jenisInput">
                      <li><a class="dropdown-item" href="#">Teks</a></li>
                      <li><a class="dropdown-item" href="#">File</a></li>
                    </ul>
                  </div>
            </div>
        </div>
            <div class="collapse show mb-3" id="collapseJenisInputTeks">
                <div class="card card-body">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="collapse mb-3" id="collapseJenisInputFile">
                <div class="card card-body pb-0" >
                    <div class="mb-3">
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
                <div class="card mb-3 d-none file-plaintext">
                    <div class="card-body overflow-auto" style="max-height: 500px;">
                        <p class="card-text" id="file-input">Hasil enkripsi akan muncul disini</p>
                    </div>
                </div>
            </div>
            <label for="key" class="col-sm-2 col-form-label">Key</label>
            <div class="col-sm mb-4">
              <input type="text" class="form-control" id="key">
            </div>
            <label for="key" class="col-sm-2 col-form-label d-none keyB">Key</label>
            <div class="col-sm mb-4 d-none keyB">
              <input type="text" class="form-control" id="keyB">
            </div>
            <div class="form-check form-switch px-5 mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
                <label class="form-check-label" for="flexSwitchCheckDefault">Output tanpa spasi</label>
            </div>
            <div class="d-grid gap-2 d-flex justify-content-end">
                <input class="btn btn-primary me-md-2" type="submit" value="Enkripsi" id="btn-en">
                <input class="btn btn-primary" type="submit" value="Dekripsi" id="btn-de">
            </div>

            <div class="answer mt-2 invisible">
                <p>Hasil</p>
                <div class="card mb-3">
                    <div class="card-body overflow-auto" style="max-height: 500px;">
                        <p class="card-text" id="output-text">Hasil enkripsi akan muncul disini</p>
                    </div>
                </div>
                <div class="d-grid gap-2 d-flex justify-content-end mb-4">
                    <button class="btn btn-secondary btn-sm" type="submit" id="download">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                          </svg>
                    </button>
                </div>
            </div>


    </section>

    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script>
        $(".dropdown-toggle").next(".dropdown-menu").children().on("click",function(){
            $(this).closest(".dropdown-menu").prev(".dropdown-toggle").text($(this).text());
        });

        $("#jenisInput").next(".dropdown-menu").children().on("click",function(){
            if ($(this).text() == "Teks"){
                $("#collapseJenisInputTeks").collapse("show");
                $("#collapseJenisInputFile").collapse("hide");
            }
            else {
                $("#collapseJenisInputFile").collapse("show");
                $("#collapseJenisInputTeks").collapse("hide");
            }
        });

        $("#jenisCipher").next(".dropdown-menu").children().on("click",function(){
            console.log($(this).text());
            if ($(this).text() == "Affine Cipher"){
                console.log("Affine");
                $(".keyB").removeClass("d-none");
            } else {
                $(".keyB").addClass("d-none")
            }
        });

        let alg_dic = {
            "Vigenere Cipher Standard": "vigenere",
            "Auto-key Vigenere Cipher": "autokey",
            "Extended Vigenere Cipher": "extended",
            "Playfair Cipher": "playfair",
            "Affine Cipher": "affine",
            "Hill Cipher": "hill",
            "Enigma Cipher": "enigma"
        }

        let input = ''

        const showAnswer = (data, jenisInput) => {
            console.log(jenisInput);
            // if (jenisInput == "Teks"){
                $(".answer").removeClass("invisible");
                $("#output-text").text(data.data);
            // }
        }

        $('#btn-en').on('click', function(e){
            e.preventDefault();
            const alg = alg_dic[$("#jenisCipher").text()];
            let data = {};

            if (alg == "affine"){
                data = {
                    keyM: Number($("#key").val()),
                    keyB: Number($("#keyB").val()),
                    input: $("#exampleFormControlTextarea1").val()
                }
            }
            else {
                data = {
                    key: $("#key").val(),
                    input: input
                }
            }
            
            fetch(`/encrypt/${alg}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => response.json()).then(data => {
                console.log(data);
                showAnswer(data, $('#jenisInput').text());
            }).catch(err => {
                console.log(err);
            });
        });
        
        $('#btn-de').on('click', function(e){
            e.preventDefault();
            const alg = alg_dic[$("#jenisCipher").text()];

            let data = {};

            if (alg == "affine"){
                data = {
                    keyM: Number($("#key").val()),
                    keyB: Number($("#keyB").val()),
                    input: $("#exampleFormControlTextarea1").val()
                }
            } else {
                data = {
                    key: $("#key").val(),
                    input: input
                }
            }

            fetch(`/decrypt/${alg}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => response.json()).then(data => {
                console.log(data);
                showAnswer(data, $('#jenisInput').text());
            }).catch(err => {
                console.log(err);
            });
        });

        $("#download").on("click", function(){
            if ($('#jenisInput').text() == "Teks"){
                const text = $("#output-text").text();
                const blob = new Blob([text], {type: "text/plain"});
                const url = URL.createObjectURL(blob);
                const a = document.createElement("a");
                a.href = url;
                a.download = "output.txt";
                a.click();

            }
        });

        $("#formFile").change(function(){
            const file = $(this).prop("files")[0];
            const reader = new FileReader();
            reader.onload = function(e){
                const content = reader.result;
                input = content;
                console.log(content);
                $(".file-plaintext").removeClass("d-none");
                $("#file-input").text(content);
            }
            reader.readAsText(file, "UTF-8");
        });

        $("#exampleFormControlTextarea1").on("input", function(){
            input = $(this).val();
        });
        
    
    </script>
</body>
</html>